/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/

.layover{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.font-gray{
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

/*principal container*/
.wrapper{
    width: 80%;
    margin: 1% auto;
}

/*header*/
.logo{
    height: 100px;
}

.logo-img{
    height: 100%;
}

/* Menù list */
.menu{

    margin: 2% 0;
}

.link a{
    text-decoration: none;
    color: gray;
    font-family: 'Montserrat', sans-serif;
}

.link{
    display: inline-block;
    margin: 2% 0;
    margin-right: 20px;
}

/* Banner */
.banner{
    height: 500px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 15px;
    position: relative;
    margin: 2% 0;
}

.banner-text{
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 60%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MAIN */

.main-title{
    margin: 2% 0;
}

.main-title h2{
    color: black;
}


/*clearfix main*/
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}


.col{
    float: left;
}

h4{
    margin: 2% 0;
}

.col-img{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.col img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.col-left{
    width: 20%;
    margin-top: 1%;
}
.col-center{
    width: 58%;
    margin: 1% 1%;
}
.col-right{
    width: 20%;
    margin-top: 1%;
}
/*footer*/
.footer{
    height: 50px;
    margin-top: 1%;
}

.footer p{
    margin: 2%;
    text-align: center;
}

.footer span{
    color: red;
}